<!DOCTYPE html>

<html lang="en">

    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <link href="/static/Shelf_icon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>Shelf Heng: {% block title %}{% endblock %}</title>

    </head>

    <body style="background-color: #202020;">
        <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #000000;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 26px;">
            Shelf Heng
            </a>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session["user_id"] %}
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item">
                    <a class="nav-link" href="/item" style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 26px; color: #DAA520;" >
                        Item
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/search" style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 26px;color: #DAA520;">
                        Search
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/logout" style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 26px;color: #DAA520;">
                        Log Out
                    </a>
                    </li>
                </ul>   
                {% else %}
                <ul class="navbar-nav ms-auto mt-2">
                    <li class="nav-item">
                    <a class="nav-link" href="/register" style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 26px; color: #DAA520;" >
                        Register
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/login" style="font-family: 'Times New Roman', serif; font-weight: bold; font-size: 26px;color: #DAA520;">
                        Log In
                    </a>
                    </li>
                </ul>
                {% endif %}
            
            </div>
        </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary mb-0 text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container py-5 text-center" style="color: white;">
            {% block body %}{% endblock %}
        </main>

    </body>

</html>
