{% extends "layout.html" %}

{% block title %}
    Main page
{% endblock %}

{% block body %}
<style>
    .title{
        font-size: 57px;
        font-family: 'Times New Roman', Times, serif;
        font-style: bold;
        color:rgb(255, 255, 255);
        margin-top: 100px;
    }
    #NA{
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      border: none;
      color: #FAA520;
      outline: none;
      background: none;
      padding: 45px 72px;
      cursor: pointer;
      font-size: 45px;
      display: inline-flex;
      align-items: center;
      border-radius: 16px;
      transition: background-color 0.4s ease;
    }
    #NA:hover,
    #NA:focus {
      background-color: rgb(255, 255, 255);
    }

    .bridge{
      display: block;   /* so margin works properly */
      margin-top: -40px;
      margin-left: -575px;
    }
    .center-img {
  width: 2440px;   /* makes the image 400px wide */
  height: auto;   /* keeps aspect ratio */
  }

    .center-img {
    opacity: 0;
    transform: translate(0%, 100%) scale(0.9);
    animation: popout 2.5s ease-out forwards;
  }

    @keyframes popout {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
          transform: translate(0, 0) scale(1);
      }
    }
</style>

  <div class="title">
    Manage your shelf or add anything?
  </div>
  <div>
    <form action="/house">
        <button id="NA" >All in one here!</button> 
    </form>
  </div>
  <div class="bridge">
    <img src="/static/bridge.png" class="center-img">
  </div>
{% endblock %}