{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
    <h1 style="font-family: 'Times New Roman'; font-size: 150px;"> REGISTER </h1>
    <p></p>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input id="password" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input id="confirmation" class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm your password" type="password">
        </div>
        <p id="message"></p>
        <button class="btn btn-primary" style="width: 200px;" id="submit" type="submit" disabled>Register</button>

    </form>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let password = document.querySelector("#password");
            let confirmation = document.querySelector("#confirmation");
            let message = document.querySelector("#message");
            let submit = document.querySelector("#submit");
            confirmation.addEventListener("keyup", function() {
                if (password.value !== confirmation.value) {
                    message.innerHTML = "Password do not matched, please retype";
                    confirmation.style.color = "red";
                } else {
                    message.innerHTML = "Password matched, please continue";
                    confirmation.style.color = "green";
                    submit.disabled = false;
                }
            });
        });
    </script>

{% endblock %}
